<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>cartel.finance</title>
<link rel="stylesheet" th:href="@{global.css}" />
</head>
<body>
	<div class="demo">
			
			<div id="large-header" class="large-header">
				<canvas id="demo-canvas"></canvas>
				<div  th:replace="fragments/nav :: nav"></div>
				<h1 class="main-title">
					<span class="thin">cartel</span> .finance
				</h1>				
			</div>
	</div>
	<script src="TweenLite.min.js"></script>
	<script src="EasePack.min.js"></script>
	<script src="demo.js"></script>
</body>
</html>